<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTunesSearchApplication.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C19B34026D82B9200C58EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C7B6BCD26DDB05C00469D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CB5C65426DC9DFD009A443F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
